<div class="container mt-5">
  <form>
    <input class="form-control" type="text" placeholder="Busqueda por Nombre" aria-label="Busqueda por Nombre"
      name="filterMedicamentos" [(ngModel)]="filterMedicamentos">
    <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button> -->
  </form>
  <table class="table table-striped mt-5">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Posologia</th>
        <th scope="col">Ingredientes</th>
        <th scope="col">Fecha</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let medicamento of medicamentos | filter: filterMedicamentos">
        <tr>
          <td>{{ medicamento.name }}</td>
          <td>{{ medicamento.posologia }}</td>
          <td>{{ medicamento.ingredientes }}</td>
          <td>{{ medicamento.fecha | date }}</td>
          <td><button class="btn btn-outline-primary btn-sm"
              (click)="medicamentoDetails(medicamento._id)">Detalle</button>&nbsp;
            <a class="btn btn-outline-primary btn-sm" (click)="medicamentoDelete(medicamento._id)">Borrar</a>&nbsp;
            <button class="btn btn-outline-primary btn-sm"
              (click)="medicamentoUpdate(medicamento._id)">Actualizar</button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <a class="nav-link" [routerLink]="[ '/crear-medicamento' ]">Crear Medicamentos</a>
</div>