<div class="container m-5">
    <div class="card" style="width: 100%;">
        <div class="card-body">
            <div class="row">
                <div class="col-4" style="text-align: center;">
                    <h5 class="card-title">{{ ingrediente.name }}</h5>
                </div>
                <div class="col-8">
                    <p class="card-text">{{ ingrediente.posologia }}</p>
                    <p class="card-text">{{ ingrediente.fecha | date }}</p>
                    <a [routerLink]="['/ingredientes']" class="btn btn-primary">Ingredientes</a>
                </div>
            </div>
        </div>
    </div>
</div>